.addNewMemberInput {
  background-color: rgba(255, 255, 255, 0.5);
  width: 60%;
  padding: .5em;
  border-radius: .375em;
  font-size: 18px;
  margin-bottom: .5em;
  color: darkblue;
}

.addNewMemberInput:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 1em;
  width: 61%;
  transition: all .5s ease-in;
}

.addNewMemberBtn {
  width: 30%;
  align-items: center;
  justify-content: center;
  padding: .8em;
  border: 2px solid darkgreen;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 1em;
  cursor: pointer;
  transition: all 0.7s ease-in;
  color: darkgreen;
  background-color: rgba(255, 255, 255, 0.0);
}

.addNewMemberBtn:hover {
  background-color: lightgray;
  border-radius: 2em;
  transition: all 0.7s ease-in;
}

.membersList {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  font-style: italic;
  font-family: "Merriweather";
  font-weight: 700;
  color: darkblue;
}

.membersList li {
  margin-right: 25px;
}

.membersList li::before {
  content: "\2713";
  color: darkgreen;
  font-size: x-large;
}
