.loginContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2em 3em 0em 5em;
  width: 100%;
  height: 80vh;
}

.loginUserBtn {
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 2px solid darkblue;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 1em;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.loginUserBtn:hover {
  background-color: lightgray;
  border-radius: 2em;
  transition: all 0.7s ease-in;
}

.loginLeftSide {
  width: 30%;
  overflow: auto;
}

.loginLeftSide img {
  width: 100%;
}

.loginRightSide {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  height: 80%;
  margin-left: 5%;
}

.emailInput, .passwordInput {
  width: 70%;
}

.emailInput:focus, .passwordInput:focus {
  width: 71%;
}
