.newRecipeSearchContainer {
  margin: 0 auto;
  padding: 0em 3em;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.newRecipeSearchResultsContainer {
  overflow: scroll;
  height: 100%;
  width: 65%;
  padding: 6em 1em 0em 0em;
  position: fixed;
  right: 0;
  top: 0;
  background-image: url('../../images/blueArrow.png');
  background-repeat: repeat-y;
}

.recipeResultsList {
  display: flex;
  flex-flow: row; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  list-style: none;
  width: 100%;
  height: 85%;
  display: flex;
}

.recipeCard {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5%;
  height: 150px;
  overflow: hidden;
  transition: all .5s ease-in;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: .2em;
  cursor: pointer;
}

.recipeCard:hover {
  max-height: 450px;
  height: 350px;
  transition: all .5s ease-in;
  background-color: rgba(200, 200, 200, 0.6);
}

.recipeResultsList li {
  width: 100%;
}

.recipeResultsList li img {
  width: 100%;
  border-radius: 5%;
}

.recipeResultsList li:hover {
  z-index: 1;
  transition: all .5s ease-in;
}

.newRecipeSearchTop {
  width: 30%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newRecipeSearchForm {
  width: 100%;
  text-align: center;
}

.newRecipeSearchForm h2 {
  margin: 0;
  padding: 0em;
  color: #1b1464;
}

.newRecipeSearchContainer p em {
  color: lightgray;
  transition: all .5s ease-in;
}

p em:hover {
  background-color: black;
  padding: .5em;
  transition: all .5s ease-in;
  color: white;
}

.recipeSearchBtn {
  width: 20%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 2px solid darkblue;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: darkblue;
  margin: 1em auto;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.recipeSearchBtn:hover {
  background-color: lightgray;
  border-radius: 2em;
  transition: all 0.7s ease-in;
}

.newRecipeSearchInput {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  padding: .5em;
  border-radius: .375em;
  font-size: 18px;
  margin-bottom: .5em;
  color: darkblue;
  margin-right: 1em;
  transition: all .5s ease-in;

}

.newRecipeSearchInput:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 1em;
  width: 51%;
  transition: all .5s ease-in;
}

.recipeCaption {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.saveRecipeBtnRow {
  display: flex;
  justify-content: center;
}

.saveRecipeBtn {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: .2em;
  border: 2px solid darkblue;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.saveRecipeBtn:hover {
  background-color: lightgray;
  border-radius: 2em;
  transition: all 0.7s ease-in;
}
