.newRecipeSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0em 3em;
  height: 30%;
  width: 100%;
}

.newRecipeSearchRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0em 5em;
  width: 60%
}

.recipeResultsList {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  list-style: none;
}

.recipeResultsList li {
  width: 80px;
  transition: all .5s ease-in;
}

.recipeResultsList li:hover {
  z-index: 1;
  transition: all .5s ease-in;
}

.newRecipeSearchLeftSide {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.newRecipeSearchLeftSide img {
  max-width: 50%;
}

.newRecipeSearchForm {
  flex: 0 0 60%;
  padding: 1em 0em 0em 4em;
}

.newRecipeSearchForm h2 {
  margin: 0em 0em 0.5em 0em;
  padding: 0em;
  color: darkblue;
}

.newRecipeSearchContainer p em {
  color: lightgray;
  transition: all .5s ease-in;
}

p em:hover {
  background-color: black;
  padding: .5em;
  transition: all .5s ease-in;
  color: white;
}
