.profileContainer, .viewPartyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 70px;
  width: 100%;
}

.profileColumnLeft {
  width: 30%;
  padding-right: 2em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profilePartiesTitle {
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid #1b1464;
  width: 80%;
  display:flex;
  justify-content: space-between;
}

.profileColumnRight {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-image: url('../../images/blueArrow.png');
  background-blend-mode: multiply;
  background-repeat: repeat-y;
}

.avatarImg {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.partyDate {
  padding: 1em;
  background-color: black;
  border-radius: 4em;
  font-size: small;
  color: white;
}

.mealDate {
  padding: .5em;
  background-color: black;
  border-radius: 3em;
  font-size: small;
  color: white;
}

.sloganContainer {
  width: 40%;
  margin: 0 auto;
  margin-top: -30px;
}

.mealTitleRow {
  display: flex;
}

.partyTitle, .mealTitle {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  margin-left: 10px;
  font-family: "Merriweather";
  text-transform: uppercase;
  font-weight: 700;
}

.partyTitle .partyDescription, .mealTitle .mealDescription {
  display: none;
  position: absolute;
  top: -45px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .4em;
  color: black;
  transition: all .5s ease-in;
}

.partyTitle:hover .partyDescription, .mealTitle:hover .mealDescription {
  display: inline;
  transition: all .5s ease-in;
  font-size: small;
}

.partyListed {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;
  padding: .5em;
  border-bottom: 2px solid #1b1464;
  background-color: lightblue;
  transition: all .2s ease-in;
}

.mealListed {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
  padding: .5em;
  border-bottom: 2px solid #1b1464;
  background-color: lightblue;
  transition: all .2s ease-in;
}

.mealListed .mealTitle:hover h3, .mealListed:hover h3 {
  color: darkOrange;
}

.partyListed:hover, .mealListed:hover {
  background-color: #1b1464;
  color: white;
  transition: all .2s ease-in;
  border-bottom: 2px solid white;
  color: orange;
}

.userPartiesList, .userMealsList {
  list-style: none;
  padding: 0em;
  width: 80%;
}

.createNewPartyBtn, .createNewMealBtn {
  margin: 0 25% 0 15%;
  text-align: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 2px solid #1b1464;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 1em;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.createNewPartyBtn:hover, .createNewMealBtn:hover {
  background-color: lightgray;
  border-radius: 2em;
  transition: all 0.7s ease-in;
}

.createNewPartyBtn a, .createNewMealBtn a {
  text-decoration: none;
  color: #1b1464;
}

.userMeta {
  text-align: center;
  color: lightgray;
  font-size: small;
  margin-top: 20px;
}

.partiesLengthMeta {
  text-transform: lowercase;
  font-size: small;
  font-style: italic;
  color: black;
}

.characterIlloRight {
  width: 70%;
  margin: 0 auto;
}

.findRecipesBtn {
  margin: 0;
  text-align: center;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding: .5em;
  border: 2px solid #1b1464;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 1em;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.findRecipesBtn:hover {
  background-color: lightgray;
  border-radius: 2em;
  transition: all 0.7s ease-in;
}

.refreshBtn {
text-align: center;
-ms-flex-align: center;
-ms-flex-pack: center;
padding: .6em;
border: 2px solid #004d10;
color: #004d10;
font-weight: 500;
text-transform: uppercase;
font-size: 12px;
cursor: pointer;
-webkit-transition: all 0.7s ease-in;
-o-transition: all 0.7s ease-in;
transition: all 0.7s ease-in;
background-color: rgba(0, 77, 16, .0);
}

.refreshBtn:hover {
  background-color: rgba(0, 77, 16, .7);
  color: white;
  border-radius: 2em;
  transition: all 0.4s ease-in;
}
