@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Allerta');

body {
  background:url("backgroundBlush.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.foodieInputs {
  background-color: rgba(255, 255, 255, 0.5);
  width: 99%;
  padding: .5em;
  border-radius: .375em;
  font-size: 18px;
  margin-bottom: .5em;
  color: darkblue;
  transition: all .5s ease-in;
}

.foodieInputs:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 1em;
  width: 100%;
  transition: all .5s ease-in;
}

.primaryBtn {
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid darkblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface";
  margin: 0em;
  padding: 0em;
}

p, ol, ul, caption {
  font-family: "Allerta";
}

input {
  margin: 0em;
  padding: 0em;
  font-family: "Allerta";
}

form {
  margin: 0em;
  padding: 0em;
  font-family: "Allerta";
}

.homeContainer {
  height: 80vh;
}
